
<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title><%= t('.yulselection') %></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="assets/jquery.min.js"></script>
		<script src="assets/jquery.scrolly.min.js"></script>
		<script src="assets/jquery.dropotron.min.js"></script>
		<script src="assets/jquery.scrollex.min.js"></script>
		<script src="assets/skel.min.js"></script>
		<script src="assets/skel-layers.min.js"></script>
		<script src="assets/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2><%= t('.yulh2') %></h2>
						<p><%= t('.yulsubtitile') %></p>
						<div class="image fit"><img src="http://www.parisbakery.us/sites/default/files/styles/header-image/public/case_1.jpg?itok=0Cztp_IC" alt="" /></div>
					</header>
					<div class="row 150%">
						<div class="4u 12u$(medium)">

							<!-- Sidebar -->
								<section id="sidebar">
										<section>
									    <h3><%= t('.yulcafe') %></h3>
										<div class="image fit"><img src="http://www.parisbakery.us/sites/default/files/styles/header-image/public/cafe-header.jpg?itok=wP9uZ8Na" /></div>
										<p><%= t('.yulcafedes') %></p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button"><%= t('.yulcafemore') %></a></li>
											</ul>
										</footer>
									</section>
									<hr />

									<section>
										<h3><%= t('.yulcookies') %></h3>
										<div class="image fit"><img src="http://www.parisbakery.us/sites/default/files/styles/header-image/public/cookies_header.jpg?itok=MJ6LG7Im" /></div>
										<p><%= t('.yulcookiesdes') %></p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button"><%= t('.yulcookiesmore') %></a></li>
											</ul>
										</footer>
									</section>
									<hr />

									<section>
									    <h3><%= t('.yulsoup') %></h3>
										<div class="image fit"><img src="http://www.parisbakery.us/sites/default/files/styles/header-image/public/soup-header.jpg?itok=8p4NboeL" /></div>
										<p><%= t('.yulsoupdes') %></p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button"><%= t('.yulcookiesmore') %></a></li>
											</ul>
										</footer>
									</section>
								</section>
						</div>
						<div class="8u$ 12u$(medium) important(medium)">

							<!-- Content -->
								<section id="content">
									<h3><%= t('.yulsweet') %></h3>
									<div class="image fit"><img src="http://www.parisbakery.us/sites/default/files/styles/header-image/public/fruit-tart.jpg?itok=im-1hQoV" /></div>
									<p><%= t('.yulsweetdes') %></p>

									<ul>
										<li class="description"><%= t('.yulnapoleon') %><div><img src="http://www.parisbakery.us/sites/default/files/napolean.jpg" /></div></li>
										<p><%= t('.yulnapoleondes') %></p>
										<li class="description"><%= t('.yulchocolate') %><div><img src="http://www.parisbakery.us/sites/default/files/choc_eclaire2.jpg" /></div></li>
										<p><%= t('.yulchocolatedes') %></p>
										<li class="description"><%= t('.yulprincess') %><div><img src="http://www.parisbakery.us/sites/default/files/princess_cake.jpg" /></div></li>
										<p><%= t('.yulprincessdes') %></p>
										<li class="description"><%= t('.yulfraiser') %><div><img src="http://www.parisbakery.us/sites/default/files/fraisier.jpg" /></div></li>
										<p><%= t('.yulfraiserdes') %></p>
										<li class="description"><%= t('.yulfruit') %>Fruit Tart<div><img src="http://www.parisbakery.us/sites/default/files/fruit_tart.jpg" /></div></li>
										<p><%= t('.yulfruitdes') %></p>
									</ul>
									<hr />

									<h3><%= t('.yulsavory') %></h3>
									<div class="image fit"><img src="http://www.parisbakery.us/sites/default/files/styles/header-image/public/sandwich.jpg?itok=0H70yPrT" /></div>
									<p><%= t('.yulsavorydes') %></p>
									
									<ul id="sectiondiv">
										<li class="description"><%= t('.yulpain') %><div><img src="http://www.parisbakery.us/sites/default/files/turkey_petitpain.jpg" /></div></li>
										<p><%= t('.yulpaindes') %></p>
										<li class="description"><%= t('.yulcroque') %><div><img src="http://www.parisbakery.us/sites/default/files/croque-sm.jpg" /></div></li>
										<p><%= t('.yulcroquedes') %></p>
										<li class="description"><%= t('.yuljambon') %><div><img src="http://www.parisbakery.us/sites/default/files/jambon_buerre.jpg" /></div></li>
										<p><%= t('.yuljambondes') %></p>
										<li class="description"><%= t('.yulpanini') %><div><img src="http://www.parisbakery.us/sites/default/files/chicken_paninni.jpg" /></div></li>
										<p><%= t('.yulpaninides') %></p>
										<li class="description"><%= t('.yulveggie') %><div><img src="http://www.parisbakery.us/sites/default/files/veggie_delite.jpg" /></div></li>
										<p><%= t('.yulveggiedes') %></p>
									</ul>
								</section>

						</div>
					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

	</body>
</html>